{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Launch",
            "type": "node",
            "request": "launch",
            "program": "${workspaceRoot}/src/launcher.js",
            "stopOnEntry": false,
            "args": [],
            "cwd": "${workspaceRoot}/src/",
            "runtimeExecutable": "${workspaceRoot}/src/node_modules/electron/dist/Electron.app/Contents/MacOS/Electron",
            "runtimeArgs": [
                ".",
                "--enable-logging"
            ],
            "env": {},
            "externalConsole": false,
            "sourceMaps": false,
            "outDir": null
        },
        {
            "name": "Attach",
            "type": "node",
            "request": "attach",
            "port": 5858,
            "sourceMaps": false,
            "outDir": null
        }
    ]
}
// {
//     "name": "Debug",
//     "type": "chrome",
//     "request": "launch",
//     "runtimeExecutable": "${workspaceRoot}/src/node_modules/electron/dist/Electron.app/Contents/MacOS/Electron",
//     "runtimeArgs": [
//         "${workspaceRoot}",
//         "--enable-logging",
//         "--remote-debugging-port=9222"
//      ],
//      "sourceMaps": false
// }